<launch>

	<!-- Launch File Arguments -->
	<arg name="baud"   default="57600"       />
	<arg name="port"   default="/dev/ttyUSB0"/>
	<arg name="model"  default="false"       />
	<arg name="camera" default="false"       />


	<!-- Rosserial Node for Controlling Arduino -->
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="$(arg baud)"/>
    </node>


    <!-- Launch RealSense Camera -->
    <include if="$(arg camera)" 
        file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"
    />


    <!-- View Axes Configuration -->
	<node unless="$(arg model)" 
        name="rviz" 
		pkg="rviz" 
		type="rviz" 
		args="-d $(find ros_camera_sweep)/rviz/axes.rviz" required="true"
	/>


    <!-- View Model Configuration -->
    <group if="$(arg model)">

    	<!-- Upload URDF -->
  		<param name="robot_description" textfile="$(find ros_camera_sweep)/urdf/sweep.urdf" />

    	<!-- Without Camera Point Cloud -->
    	<node unless="$(arg camera)" 
    		name="rviz" 
    		pkg="rviz" 
    		type="rviz" 
    		args="-d $(find ros_camera_sweep)/rviz/model.rviz" required="true"
    	/>

    	<!-- With Camera Point Cloud -->
    	<node if="$(arg camera)" 
    		name="rviz" 
    		pkg="rviz" 
    		type="rviz" 
    		args="-d $(find ros_camera_sweep)/rviz/camera.rviz" required="true"
    	/>

    </group>
    
</launch>